ody{
    background-image: url(fondo.jpg);
    background-size: cover;
}

.boton{
    color: black;
    background-color: green;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}

.boton:hover{
    background-color: red;
    color: black;
}

.menu li{
    display: inline-block;
    background: blue;
    padding: 10px;
    color: white;
}

.menu li a{
    text-decoration: none;
    border-radius: 15px;
}

.menu li:hover{
    background-color: white;
    color: black;
}
